<launch>
    <include file="$(find prm)/launch/visualize_prm.launch">
        <arg name="visualization_mode" value="0"/>
        <arg name="if_only_rviz" value="0"/>
        <arg name="if_show_edges" value="0"/>
        <arg name="use_default_grid" value="0"/>        <!--        we want to use custom grid-->
    </include>

    <arg name="algo_select" default="3" doc="3 for LPA*, 4 for D* Lite"/>
        <node pkg="global_incremental_planning" type="global_incremental_planning_node" name="global_incremental_planning_node"  output="screen">
        <rosparam file="$(find prm)/config/params.yaml" command="load"/>
        <param name="algo_select" value="$(arg algo_select)"/>
    </node>
</launch>
