/HW1/firmware/HW1_CODE.X/build/
/HW1/firmware/HW1_CODE.X/dist/
.idea*
/HW2/firmware/HW2_code.X/dist/
/HW2/firmware/HW2_code.X/build/
/HW3/firmware/HW3_code.X/build/
/HW3/firmware/HW3_code.X/dist/
/HW4/firmware/HW4_code.X/build/
/HW4/firmware/HW4_code.X/dist/
/HW5/firmware/HW5_code.X/build/
/HW5/firmware/HW5_code.X/dist/
/HW6/firmware/HW6_code.X/build/
/HW6/firmware/HW6_code.X/dist/
/HW7/firmware/HW7_code.X/build/
/HW7/firmware/HW7_code.X/dist/
/HW8/firmware/HW8_code.X/build/
/HW8/firmware/HW8_code.X/dist/